<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Anowave_Contact::anowave" title="Contact Forms" module="Anowave_Contact" sortOrder="100" parent="Magento_Backend::content_elements" action="forms/index" resource="Anowave_Contact::anowave"/>
        <add id="Anowave_Contact::anowave_attributes" title="Form" module="Anowave_Contact" sortOrder="100" parent="Magento_Backend::stores_attributes" action="forms/attributes" resource="Anowave_Contact::anowave_attributes"/>
     </menu>
</config>
